<!DOCTYPE html>
<html>
<head>
  <title>Generate Voucher</title>
</head>
<body>
  <h1>Generate Voucher</h1>
  <form action="/cashier/voucher" method="POST">
    <input type="number" name="amount" placeholder="Enter Amount" required />
    <button type="submit">Generate Voucher</button>
  </form>
</body>
</html>

